/*
============================================================
注释部分的汉字可能会导致css无法正常读取，建议上线前先删除汉字部分注释
============================================================
*/

*{padding:0;margin:0;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
li{list-style:none;}
img{border:none;}
a{color:#57befb;text-decoration:none;hide-focus:expression(this.hideFocus=true);}
a:focus{outline:none;}
a:hover{color:#000;}
#wrap{width:619px;height:390px;position:relative;}
.bg1{width:619px;height:390px;position:absolute;left:0;top:0;background:url(main_bg1.jpg) no-repeat;}
.bg2{width:619px;height:390px;position:absolute;left:0;top:0;background:url(main_bg2.jpg) no-repeat;}/* 登陆成功时的背景 */
/* 顶部操作按钮，包括最小化、关闭 */
.operate{position:absolute;height:46px;height:22px;right:0;top:0;z-index:99;}
.operate span{float:left;margin:0 1px 0 0;}
.operate span a{display:block;width:22px;height:22px;}
.minimum a{background:url(btn2_bg.jpg) 0 0 no-repeat;}
.minimum a:hover{background:url(btn2_bg.jpg) 0 -22px no-repeat;}
.minimum a:active{background:url(btn2_bg.jpg) 0 -44px no-repeat;}
/* 最小化按钮-结束 */
.close a{background:url(btn2_bg.jpg) -22px 0 no-repeat;}
.close a:hover{background:url(btn2_bg.jpg) -22px -22px no-repeat;}
.close a:active{background:url(btn2_bg.jpg) -22px -44px no-repeat;}
/* 关闭按钮-结束 */
h1,.col1,.col2,#menu{position:absolute;}
h1{left:217px;top:0;text-indent: -999em;}
.col1{width:270xp;height:260px;left:332px;top:55px;}
.f1,.f2{background:url(text_bg.gif) 55px 9px no-repeat;padding:9px 0 0;height:28px;}
.f1 label,.f2 label{font:normal bold 14px/28px "宋体";color:#793b00;display:inline-block;width:56px;_width:52px;}
.i1{border:none;background:none;height:20px;color:#ffdd98;font-size:14px;width:174px;line-height:20px; padding: 3px;}
.f3{padding:9px 50px 0 55px;text-align:right;}
.f3 label,.f3 span a{color:#793b00;font-size:12px;}
.f3 span a:hover{text-decoration:underline;}
.f3 input{vertical-align:middle;}
.f3 span{display:inline-block;line-height:20px;}
.f3 .check,.f3 .checked{float:left;}
.f3 .checked a{display:inline-block;background:url(check1.gif) 0 0 no-repeat;padding:0 0 0 23px;}
.f3 .check a{display:inline-block;background:url(check.gif) 0 0 no-repeat;padding:0 0 0 23px;}
.f3 .check a:hover,.f3 .checked a:hover{text-decoration:none;}
.btn{padding:9px 0 0 55px;}
.btn a{display:inline-block;width:184px;height:35px;background:url(btn1_bg.gif) 0 0 no-repeat;}
.btn a:hover{display:inline-block;width:184px;height:35px;background:url(btn1_bg.gif) 0 -35px no-repeat;}
.btn a span{display:none;}
/* 未登录时，登陆区域-结束 */
#news{clear:both;width:260px;padding:15px 0 0;}
#news li{background:url(line.jpg) 0 bottom repeat-x;padding:5px 0 7px;font-size:12px;color:#793b00;text-align:right;line-height:20px;}
#news li a{font-size:12px;color:#793b00;text-align:left;float:left;line-height:20px;width:220px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#news li a:hover{font-size:12px;color:#000;text-decoration:underline;}
/* 未登录时，新闻列表-结束 */
#menu{width:100%;height:55px;left:0;top:335px;background:url(menu.jpg) no-repeat;}
#menu h2 a{display:block;width:150px;height:55px;float:left;}
#menu li{float:left;}
#menu li a{display:block;height:45px;margin:0 2px 0 0;}
#menu li span{display:none;}
#m2 a{width:152px;}
#m3 a{width:100px;}
#m4 a{width:100px;}
#m5 a{width:100px;}
#m2 a:hover{background:url(menu.jpg) -150px -55px no-repeat;}
#m3 a:hover{background:url(menu.jpg) -304px -55px no-repeat;}
#m4 a:hover{background:url(menu.jpg) -406px -55px no-repeat;}
#m5 a:hover{background:url(menu.jpg) -508px -55px no-repeat;}
/* 底部公用导航栏-结束 */
#user{float:left;padding:67px 0 0 25px;color:#793b00;width:180px;height: 30px;line-height: 30px;}
#user li{height: 100%;}
#user span{float:left;height: 100%;}
#u1  a{color:#793b00;display: block;height: 100%;line-height: 30px;}
#u1 .t a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:125px;margin:0 10px 0 0;font:normal 14px/30px Arial, Helvetica, sans-serif;color:#793b00;}
#u1 .t a:hover{text-decoration:underline;}
#user .act a:hover{color:#793b00;}
/* 登陆后，用户信息区域-结束 */
#played{float:left;padding:67px 0 0 10px;width:380px;height: 30px;line-height: 30px;}
#played h2{float:left;font-weight:normal;color:#793b00;height: 100%;}
.select{float:left;position: relative;height: 30px;}
.selectMain{height:29px;cursor:pointer;font:normal normal 12px/29px Arial, Helvetica, sans-serif;color:#622e0f;padding:0 0 0 5px;width:169px;float:left;margin:0 0 0 10px;display: inline;}
.selectDown{background:url(btn5_bg.gif) no-repeat;}
.selUp{background:url(btn5_bg.gif) 0 -29px no-repeat;}
.selectWrap{border:1px solid #892d04;background:#fff4c0;position:absolute;width:172px;top:24px;left:10px;}
.selectWrap li{float:left;}
.selectWrap a{font-size:12px;color:#622e0f;display:block;line-height:22px;padding:0 8px;width:156px;}
.selectWrap a:hover{font-size:12px;color:#f60;background:#fff;}
.inBtn{float:left;width:66px;height:29px;color:#381300;font-size:12px;text-align:center;background:url(btn4_bg.gif) no-repeat;line-height:29px;margin:0 0 0 10px;}
.inBtn:hover{color:#ffeb99;}
/* 登陆后，最近玩过的区服-结束 */
#list{clear:both;width:600px;}
#list h2{float:left;padding:27px 0 0 30px;_padding:24px 0 0 30px;font-weight:normal;}
#list h2 span{float:left;height:31px;width:80px;background:url(title_bg.jpg) -89px 0 no-repeat;margin:0 9px 0 0;}
#list h2 span a{height:31px;line-height:31px;width:80px;text-align:center;display:block;color:#793b00;}
#list h2 span.on{background:url(title_bg.jpg) no-repeat;}
#list h2 span.on a{font-weight:bold;}
/* 最近新服、所有服务器标签效果-结束 */
.serlist{clear:both;}
.serlist h3{padding:7px 0 10px 30px;font-weight:normal;height:18px;overflow:hidden;}
.serlist h3 span{float:left;height:26px;width:74px;background:url(tag_bg.jpg) no-repeat;margin:0 9px 0 0;}
.serlist h3 span a{height:26px;line-height:26px;width:74px;text-align:center;display:block;color:#793b00;}
.serlist h3 span a:hover{text-decoration:underline;}
.serlist h3 span.on{background:url(tag_bg.jpg) -84px 0 no-repeat;}
.serlist h3 span.on a{color:#fff;}
/* 已开服务器较多时，通过标签达到分页效果-结束 */
.serlist{padding: 20px 0 0 30px;}
.serlist ul{display: none;}
.serlist .new{clear:both;height:126px;display: none;}
.serlist .all{clear:both;height:126px;overflow-y:scroll;}
.serlist li{float:left;width:257px;padding:8px 8px 8px 0;height:14px;overflow:hidden;}
.serlist li a{float:left;color:#622e0f;font-size:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:150px;}
.serlist li a:hover{text-decoration:underline;color:#f30;}
/* 通过修改 serstate.gif 实现不同状态 */
.serlist li var{float:left;background-image:url(serstate.gif);height:15px;overflow:hidden;width:51px;}
.serlist li.s4{float:left;width:358px;}
.serlist li.s4 em{float:left;font:normal normal 12px/20px Arial, Helvetica, sans-serif;padding:0 10px;color:#0360a9;margin:-2px 0 0;}
.s1 var{background-position:0 -15px;}/* 服务器状态：新服 */
.s3 var{background-position:0 -75px;}/* 服务器状态：维护 */
.s7 var{background-position:0 -30px;}/* 服务器状态：流畅 */
.s8 var{background-position:0 -60px;}/* 服务器状态：繁忙 */
/* 服务器列表信息-结束 */
#quick{float:right;padding:13px 31px 0 0;_padding:10px 31px 0 0;}
#quick div{padding:10px 0;background:url(text1_bg.gif) 95px 10px no-repeat;}
#quick label{color:#98571a;font-size:12px;}
#quick input{border:none;vertical-align:middle;width:56px;height:21px;background:none;line-height:21px;color:#d8b878;}
#quick button{background:url(btn4_bg.gif) 0 -29px no-repeat;width:60px;height:23px;line-height:23px;colro:#793b00;border:none;margin:1px 0 0 8px;vertical-align:middle;}
/* 登陆后，快速进入服务器-结束 */
.tip{position:absolute;width:290px;height:157px;background:url(tip_bg.gif) no-repeat;left:164px;top:100px;text-align:center;display: none;}
.tip h2{color:#793b00;font:normal bold 12px/12px "宋体";padding:10px 0 0 14px;text-align:left;}
.tip p{background:url(tip_point.gif) no-repeat;padding:11px 0 11px 53px;margin:30px auto;font-size:14px;color:#57300a;width:186px;}
.tip .close{float:right;margin:4px 4px 0 0;}
.tip .close a{display:block;width:22px;height:22px;}
.tip .btn1 a{display:inline-block;width:124px;height:30px;background:url(btn8_bg.jpg) no-repeat;font:normal normal 12px/30px "宋体";color:#57300a;letter-spacing:6px;}
.tip .btn1 a:hover{background:url(btn8_bg.jpg) 0 -30px no-repeat;}
/* 未登录时，账号密码错误提示-结束 */

